html{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    font-family: Libre Baskerville;
    text-transform: uppercase;
}
img{
    border: 5px solid white;
    width: 100%;
   
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 70px;
}
p{
    color: white;
    font-family: Libre Baskerville;
    text-align: center;
}
#foot{
    font-size: small;
}